#!/usr/bin/env bash

# Enviroment variables
# Set Neovim default editor
if command -v nvim > /dev/null; then
  export EDITOR="nvim"
else
  export EDITOR="vi"
fi

# Ignore duplicate commands in history
HISTCONTROL=ignoredups

# Number of lines in active history
HISTSIZE=2000

# Number of lines saved in Bash history
HISTFILESIZE=2000

