* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: normal;
  font-size: 15px;
}

#waybar {
  border: 1px solid #a4997c;
  background-color: #1a1c1d;
  color: #ebdbb2;
}

#workspaces button {
  padding-top: 10px;
  color: #5e5747;
}

#workspaces button.focused {
  color: #ebdbb2; 
}

#user {
  padding-left: 13px;
}

#clock {
  padding-bottom: 10px;
}

#custom-separator {
  color: #ebdbb2;
}
